DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=sqlite

# SQL Server
# DB_ENGINE=mssql
# DB_NAME=proyecto_sena
# DB_USER=
# DB_PASSWORD=
# DB_HOST=127.0.0.1
# DB_PORT=1433
# DB_DRIVER=ODBC Driver 17 for SQL Server
# DB_EXTRA_PARAMS=Encrypt=no

# Alternativa MySQL
# DB_ENGINE=mysql
# DB_NAME=proyecto_sena
# DB_USER=root
# DB_PASSWORD=secret
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_CHARSET=utf8mb4
